* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans 3", serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #404040;
}

/* Typography */

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: #fff;
  margin: 0;
}

h2 {
  font-size: 1.3125rem;
  margin: 0;
}

.register-today {
  margin-top: 0;
}

strong {
  font-weight: 900;
}

.eyebrow-headline {
  font-size: 0.625rem;
  font-weight: 900;
  order: -1;
  margin: 0;
  padding-top: 2px;
  border-top: 5px solid #f18119;
  border-image: linear-gradient(to left, #ff713b, #ffa51d) 1;
}

.subtitle {
  font-size: 1.3125rem;
  margin: 0;
}

.eyebrow-headline,
.subtitle,
.register-today {
  color: #f18119;
  text-transform: uppercase;
  font-weight: 900;
}

.small-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

/* Layout */

.top-section {
  background-color: #404040;
  background-image: url(/images/ribs.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  padding: 0 0.5em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}

.main-content {
  padding: 2em 1em;
}

/* Solution #1 for big screens */
.top-section > *,
.main-content > * {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* Solution #2 for bigger screens */
/* .container {
  max-width: 400px;
  margin: 0 auto;
} */

/* .container-intro { (take it off from .top-section)
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
} */

/* Form */

.info-collector {
  width: 80%;
  max-width: 300px;
}

input,
.btn {
  width: 100%;
  border-radius: 5px;
}

input {
  font-family: inherit;
  text-align: inherit;
  margin-bottom: .75em;
  padding: .25em;
  border: 1px solid #404040;
  transform: scale(1);
  transition: transform 250ms;
}

input:focus {
  transform: scale(1.1);
}

.btn {
  display: inline-block;
  padding: 1em 1.5em;
  font-size: .625rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
}

.btn-primary {
  background: linear-gradient(to left, #ff713b, #ffa51d);
  color: white;
  transform: scale(1);
  transition: transform 250ms;
}

.btn-primary:hover,
.btn-primary:focus {
  transform: scale(1.1);
}

/* Media queries */
@media (min-width: 600px) {
  body {
    font-size: 1.125rem;
    display: flex;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2,
  .subtitle {
    font-size: 1.75rem;
  }

  .top-section,
  .main-content {
    width: 50%;
    min-height: 100vh;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* Solution #2 for bigger screens */
  /* .container-intro {
    height: 100%;
  } */
}
