body {
  margin: 0;
  font-family: "Source Sans 3", serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #404040;
}

/* Typography */

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: #fff;
  margin: 2em 0;
}

h2 {
  font-size: 1.3125rem;
  margin: 0;
}

.register-today {
  margin-top: 0;
}

strong {
  font-weight: 900;
}

.eyebrow-headline {
  font-size: 0.625rem;
  font-weight: 900;
  letter-spacing: 2px;
  order: -1;
}

.subtitle {
  font-size: 1.3125rem;
  margin: 0;
}

.eyebrow-headline,
.subtitle,
.register-today {
  color: #f18119;
  text-transform: uppercase;
  font-weight: 900;
}

.small-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

/* Layout */

.top-section {
  background-color: #404040;
  background-image: url(/images/dark-ribs.jpg);
  background-size: cover;
  background-position: center;
  padding: 0 0.5em 2em;
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: 2em 1em;
}

/* Form */

input {
  display: block;
  width: 230px;
  margin: 1em auto;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 1px solid #404040;
  text-align: center;
}

.btn {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: #f18119;
  width: 200px;
  border-radius: 5px;
  padding: 0.75em 2em;
}

/* Media queries */
@media (min-width: 500px) {
  body {
    font-size: 1.125rem;
    display: flex;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2,
  .subtitle {
    font-size: 1.75rem;
  }

  .top-section,
  .main-content {
    width: 50%;
  }
}
