body {
  margin: 0;
  font-family: "Source Sans 3", serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: #404040;
}

/* Typography */

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  color: #fff;
}

h2 {
  font-size: 1.3125rem;
}

strong {
  font-weight: 900;
}

.eyebrow-headline {
  font-size: 0.625rem;
  font-weight: 900;
  letter-spacing: 2px;
}

.subtitle {
  font-size: 1.3125rem;
}

.eyebrow-headline,
.subtitle,
.register-today {
  color: #f18119;
  text-transform: uppercase;
  font-weight: 900;
}

.small-print {
  font-size: 0.625rem;
  letter-spacing: 1px;
}

/* Layout */

.container {
  width: 80%;
  max-width: 675px;
  margin: 0 auto;
}

.top-section {
  background-image: url(/images/dark-ribs.jpg);
  background-size: cover;
  background-position: center;
  padding: 1em 0;
}

input {
  display: block;
  width: 230px;
  margin: 1em auto;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: 1px solid #404040;
  text-align: center;
}

.btn {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: #f18119;
  width: 200px;
  border-radius: 5px;
  padding: 0.75em 2em;
}
